html {
    overflow-y: scroll;
    overflow-x: hidden;
}
body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family:  "proxima nova,arial,sans-serif";
}

/************************* NAVBAR *************************/
.navbar-brand, .navbar ul li a {
    color: #000;
}

.nav-link:hover, .navbar-brand:hover {
    color: #000 !important;
    text-decoration: none;
}

.coursemenu_filter .nav-link {
    background:none;
    border:none;
}

.coursemenu_filter .nav-link:focus {
    color: #000 !important;
    font-weight: bold !important;
    text-decoration-line: underline !important;
}

.nav-item {
    height: 35px !important;
}

/************************* LOADING-TOP *************************/

#cover {
    background: url(Images/lake.jpeg) no-repeat;
    background-size: cover;
    background-position: center;
    color: #fff;
    height: 100vh;
    text-align: center;
    display: flex;
    align-items: center;
}

.cover-caption {
    width: 100%;
    text-decoration: none;
}

.welcome-text {
    font-size: 50px;
}

/************************* COURSES NAV *************************/
.classes_header {
    margin-top: 3rem;
}

.course_top {
    width: 85%;
    border: 2px solid #C95D63;
}

.course_bottom {
    width: 85%;
    border: 2px solid #C95D63;
}

.coursemenu_filter .navbar-nav {
    float: none;
    margin: 0 auto;
    display: block;
    text-align: center;
}

.coursemenu_filter .navbar-nav li {
    list-style: none;
    display: inline-block;
    padding: 0 10px;
}

.coursemenu_filter .navbar-nav li a{
    color: #C95D63;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
}

/************************* COURSES *************************/
.card {
    border: none;
}

.video-lesson .card-deck{
    display: inline-block;
}

.card-body{
    width:350px;
    height:300px;
}

.course-img {
    height: 150px;
    width: 150px;
}

.card-subtitle {
    font-size: 15px;
}

.card-text {
    margin-top: -20px;
    padding: 0;
}

.sub-heading-img {
    height: 20px;
    width: 20px;
    border-radius: 50%;
}

/************************* DESIGN WEBSITES *************************/
.middle {
    padding: 2.5rem 2.5rem 5rem;
    border-top: 5px solid #FDB833;
}

.middle .container {
    margin-top: 2%;
}

.middle h1 {
    font-weight: bold;
    font-size: 25px;
    color: #2E4057;
    margin: 0;
    text-align: center;
}

.middle h2 {
    font-size: 20px;
    margin-top: 15px;
}

.middle ul li {
    list-style: none;
}

.middle img {
    height: auto;
    width: 100%;
}

#css-description {
    margin-top: 3%;
}

.middle button {
    background: #C95D63;
    width: 50%;
    color: #fff;
    padding: 10px 5px;
    margin-top: 10px;
}

#wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.middle p {
    margin: 20px 0 0;
    padding: 0;
    font-size: 1em;
    text-align: center;
}

/************************* GRAY BACKGROUND *************************/
.grey-background {
    background-color: #ecf1f1;
    padding: 3em;
}

.grey-background h1 {
    font-size: 25px;
    opacity: 0.7;
}

.grey-background i {
    font-size: 3.5em;
}

.head-text {
    font-size: 17px;
    font-weight: bold;
    opacity: 0.8;
    margin-top: 12px;
}

.content {
    margin-top: 30px;
}

/************************* FOOTER BACKGROUND *************************/
#footer-cover {
    height: 50vh;
    background: url(Images/app2.jpeg) no-repeat;
    background-size: cover;
    background-position: center;
    text-align: left;
    display: flex;
    align-items: center;
    padding: 1em;
}

#footer-cover h1 {
    color: #fff;
    font-size: 39px;
    font-weight: bold;
}

#footer-cover p {
    font-size: 15px;
    color: #000;
    max-width: 80%;
}

#footer-cover img {
    height: 40px;
}

@media screen and (max-width: 812px) {
    #footer-cover {
        height: 65vh;
    }

    #footer-cover p { 
        max-width: 55%;
    }
}

/************************* SUBSCRIBE FORM *************************/
#subscribe-form {
    margin-top: 10%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#subscribe-form h1 {
    font-size: 23px;
}

#subscribe-form p {
    font-size: 14px;
}

.subscribe input {
    width: 100%;
    padding: 10px 7px;
    border: 1px solid #000;
}

.subscribe-button {
    background: #C95D63;
    color: #fff;
    width: 100%;
    margin-top: 10px;
    padding: 10px 0;
    cursor: pointer;
    text-transform: uppercase;
}

@media screen and (min-width: 768px) {
    .subscribe-button {
        margin-top: 0;
        width: 75%;
    }
}

/************************* FOOTER *************************/
section.footer {
    margin: 150px 0 0 0;
    padding: 25px 0;
    position: relative;
    background: #2F2D2E;
    color: #000;
    border-top: 3px solid #C95D63;
    bottom: 0;
    left:0;
}

section.footer h1 {
    font-size: 22px;
    font-weight: bold;
    color: #fff;
    margin-top: 5px;
    margin-bottom: 10px;
    text-decoration: underline;
}

section.footer p {
    color: #fff;
    margin: 0;
}

section.footer a {
    color: #FBB13C;
    text-decoration: none;
}

.icon {
    color: #fff;
}

section.footer .bottom-footer h3{
    font-size: 14px;
    color: grey;
    margin: 20px 0;
}

/************************* VIDEOS *************************/   


.video-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 50px 500px 40px;
    color: white;
    text-align: center;
    padding: 1em;
    margin-bottom: 10%;
}

.video-header {
    color: #000;
    font-size: 22px;
    grid-column: 1 / -1;
}

.video-header i {
    color: #048BA8;
}

#sidebar ul li {
    color: #FFF;
    list-style: none;
    padding: 15px 20px;
    border-bottom: 1px solid #000;
    width: 100%;
    text-align: left;
    font-size: 14px;
}

#sidebar .fas {
    font-size: 14px;
    color: #fff;
    padding-right: 6px;
}

#sidebar nav h3 {
    background: #fff;
    font-size: 18px;
    color: #2F2D2E;
    padding: 4px;
}

/* Select children in range of 2 - 6 inclusive */
#sidebar ul li:nth-child(n+1):nth-child(-n+6):hover {
    background: rgba(230,230,230,.3);
}

#sidebar ul li:hover{
    cursor: pointer;
    color: #fff;
}

.lecture-icon {
    font-size: 16px;
}

.previous {
    font-size: 18px;
    padding-left: 5%;
    margin: 6px;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.previous:hover{
    cursor:pointer;
}

.next {
    font-size: 18px;
    padding-right: .5%;
    margin-top: 6px;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.next:hover{
    cursor:pointer;
}

.video-menu {
    background: #496DDB;
    border-left: 1px solid #C0C0C0;
    padding-top: 2em;
    overflow-y: auto;    
}

.video {
    position: relative;
}

.video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.video-footer {
    grid-column: 1 / -1;
    background: #048BA8;
}

/************************* END OF VIDEOS *************************/

/************************* COMMENT *************************/

.comment-container{
    width:80%;
    height:auto;
    margin:auto;
    text-align: center;
}

#posted-comments{
    width:80%;
    text-align:center !important;
    margin:auto;
}

.comment{
    margin: 5% 0;
    text-align: center;
    display:block;
}

.comment *{
    vertical-align: top;
}

.comment label{
    display:block;
    text-align: left;
}

.vote{
    min-width:50px;
    min-height:50px;
    max-width:100px;
    max-height:100px;
}

.voting{
    padding:5px;
    display:inline-block !important;
    border:none;
    cursor:pointer;

}

#upvote{
    width:100px !important;
    height:100px !important;
    background-image: url("Images/thumbUp.png");
    background-size:100px 100px !important;
}

#downvote{
    width:100px !important;
    height:100px !important;
    background-image: url("Images/thumbDown.png");
    background-size:100px 100px !important;
    display:inline-block !important;

}

#add-vote *{
    vertical-align: top;
}

.comment-box{
    width:40vw;
    height:100px;
    resize: none;
    background:white !important;
    font-size:16px;
    padding:10px 15px;
    margin-left:4%;
}

#add-vote .comment-box{
    display:none;
}

#submit-comment{
    vertical-align: bottom;
    margin-top:2%;
    border-radius:5px;
    display:none;
    border:black solid 1px;
}

.more-comment{

}

/************************* END OF COMMENTS *************************/

/************************* CONTACT PAGE *************************/
.contact-wrapper > * {
    margin: 0;
    padding: 0;
}

.contact-wrapper {
    width: 100%;
    max-width: 680px;
    margin: 50px auto 0;
    padding: 20px;
}

.contact-content {
    text-align: center;
    margin: 0;
    padding: 0;
}

.contact-content p {
    font-size: 18px;
    padding: 0;
    margin-top: -10px;
    opacity: 0.8;
}

#contact-bottom {
    margin-top: -8px;
    width: 65%;
    border: 1px solid #C95D63;
}

.form {
    font-size: 13px;
    width: 100%;
    margin: 15px 0;
}

.top-form, .middle-form, .bottom-form {
    width: 100%;
    min-height: 65px;
    margin: 10px 0;
    overflow: hidden;
}

.form input[type="text"],
.form input[type="email"],
.form textarea {
    padding: 15px 4px;
    border-color: black;
    width: 100%;
    transition: all 0.2s ease;
    outline: none;
}

.top-form .inner-form {
    width: 29.9%;
    float: left;
    margin-right: 5%;
}

.top-form .inner-form:last-child {
    margin-right: 0;
}

.middle-form {
    clear: both;
}

.bottom-form textarea {
    height: 220px;
    width: 100%;
    padding: 10px 5px;
}

.form-btn {
    background: #C95D63;
    color: #fff;
    width: 200px;
    padding: 10px 0;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
}

::-webkit-input-placeholder {
    font-size: 11px;
    text-transform: uppercase;
    padding-left: 7px;
}

::-moz-input-placeholder {
    font-size: 11px;
    text-transform: uppercase;
    padding-left: 7px;
}

::-ms-input-placeholder {
    font-size: 11px;
    text-transform: uppercase;
    padding-left: 7px;
}


@media screen and (max-width: 460px) {
    .contact-wrapper {
        margin: 25px auto 0;
    }

    .top-form .inner-form {
        width: 100%;
        margin: 5px 0;
    }

    .form-btn {
        width: 100%;
    }
}

/************************* END OF CONTACT *************************/

/************************* LOGIN/SIGNUP *************************/

.account-wrapper > * {
    margin: 0;
    padding: 0;
}

.account-wrapper {
    width: 100%;
    max-width: 580px;
    margin: 50px auto 0;
    padding: 20px;
}

.account-header {
    text-align: center;
    margin: 0;
    padding: 0;
}

.account-header p {
    font-size: 15px;
    padding: 0;
    margin-top: -10px;
    opacity: 0.8;
}

#account-bottom {
    margin-top: -8px;
    width: 65%;
    border: 1px solid #C95D63;
}

.login {
    font-size: 13px;
    width: 100%;
    margin: 15px 0;
}

.login input {
    width: 100%;
    min-height: 55px;
    margin: 10px 0;
    overflow: hidden;
    font-size: 16px;
}

.login input:focus {
    outline: none;
}

.link, .link:hover,
#forgot-password a, #forgot-password a:hover{
    color: #000;
    font-weight: bold;
    text-decoration: none;
}

#register-footer a, #register-footer a:hover {
    color: #000;
    text-decoration: none;
    font-weight: bold;
}

.error{
    font-weight:bold;
    color:red;
}

.success{
    font-weight:bold;
    color:green;
}

/************************* END OF LOGIN/SIGNUP *************************/





/************************* SHOPPING CART *************************/

#cart-header {
    background: #505763;
    height: 20vh;
    padding: 3em;
    color: #fff;
}

.cart-head-text p {
    margin-bottom: 0;
    padding-bottom: 0;
}

.cart-head-text h1 {
    font-size: 27px;
}

/************************* CHECKOUT *************************/



































.billing-info-right {
    float: right;
    border-left: 1px solid #000;
    height: 55%;
    width: 40%;
    margin-top: -12%;
}

.user-summary-header h5 {
    font-size: 25px;
}

.tab {
    display: inline-block;
    margin-left: 160px;
}

.total-tab {
    margin-left: 240px;
    font-weight: bold;
    font-size: 15px;
}

.item {
    margin: 0;
    padding: 0;
}

.item h6 {
    font-weight: bold;
    font-size: 15px;
}

.item p {
    max-width: 40%;
    font-size: 13px;
    opacity: 0.8;
}

.item-line {
    width: 90%;
    padding-left: 0% !important;
}






















/************************* END OF CHECKOUT *************************/



/************************* ACCOUNT PAGE *************************/

.heading {
    padding-left: 3%;
    font-size: 20px;
    color: #0D4F8B;
}

.wrap {
    width: 100%;
}

.floatleft, .floatright {
    float:left;
    width: 100%;
    height: 600px;
    padding: 2em;
}

.floatleft {
    height: 150px !important;
    background: #C95D63;
}

.floatleft a{
    display: block;
    font-size: 20px;
    text-align: center;
    margin: 10px;
    color: #fff;
}

.change-fields {
    padding: 1em;
}

.change-fields label {
    margin: 10px;
}

.floatright {
    width: 100%;
}

.floatright a {
    font-size: 30px;
}

.floatright .row input {
    border: 1px solid #000;
    width: 100%;
    min-height: 40px;
    margin-top: 5px;
}

.floatright .row button {
    width: 100%;
    margin-top: 5px;
    color: #fff;
    background: #C95D63;
    min-height: 40px;
}

#save-edits {
    width: 100% !important;
    height: 50px;
    margin-top: 5px;
    background: #C95D63;
    color: #fff;
}

@media screen and (min-width: 768px) {
    
    .floatleft {
        border-right: 2px solid black;
        width: 20%;
        height: 100% !important;
        background: green;
    }

    .floatright {
        width: 80%;
    }

    .floatright .row button {
        background: blue;
        margin: 0;
        color: #fff;
    }
    
    #save-edits {
        width: 30% !important;
        background: green;
        color: #fff;
    }
}


/************************* END OF ACCOUNT PAGE *************************/

/************************* MODAL ACCOUNT FORMS FOR VIDEOS *************************/
#unavailable-message h5 {
    margin: 0 auto;
    font-size: 20px;
}

.video-login p {
    font-size: 14px;
}

.video-login button {
    margin: 0 auto;
    font-size: 13px;
    opacity: 0.8;
    margin-bottom: 16px;
}

.video-login button:hover {
    transition: .7s;
    opacity: 1;
    cursor: pointer;
}

.modal-open {
    padding-right: 0px !important;
}

/************************* END OF MODAL ACCOUNT FORMS FOR VIDEOS *************************/