
html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family:  "proxima nova,arial,sans-serif";
}

/************************* NAVBAR *************************/
.main_nav {
    background: #C95D63;
}

.navbar-brand, .navbar ul li a {
    color: #fff;
}

.nav-link:hover, .navbar-brand:hover {
    color: #000 !important;
    text-decoration: none;
}

.nav-item {
    height: 35px !important;
}

/************************* LOADING-TOP *************************/

#cover {
    background: url(Images/lake.jpeg) no-repeat;
    background-size: cover;
    background-position: center;
    color: #fff;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
}

.cover-caption {
    width: 100%;
    text-decoration: none;
}

/************************* COURSES *************************/
.classes_header {
    margin-top: 3rem;
}

.course_top {
    width: 85%;
    border: 2px solid #C95D63;
}

.course_bottom {
    width: 85%;
    border: 2px solid #C95D63;
}

.coursemenu_filter .navbar-nav {
    float: none;
    margin: 0 auto;
    display: block;
    text-align: center;
}

.coursemenu_filter .navbar-nav li {
    list-style: none;
    display: inline-block;
    padding-left: 20px;
}

.coursemenu_filter .navbar-nav li a{
    color: #C95D63;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
}

.courses {
    box-sizing: border-box;
}

.courses img {
    height: 120px;
}

.description {
    margin-top: -30px;
}

.description p {
    padding: 0;
    margin: 0;
}

.course-sub-heading {
    opacity: 0.8;
    font-size: 14px;
    margin-top: -20px;
}

.course-sub-heading img{
    height: 25px;
    width: 25px;
    border-radius: 50%;
}

.course-title {
    font-size: 15px;
}


/************************* GRAY BACKGROUND *************************/
.grey-background {
    background-color: #ecf1f1;
    padding: 3em;
}

.grey-background h1 {
    font-size: 25px;
    opacity: 0.7;
}

.grey-background i {
    font-size: 3.5em;
}

.head-text {
    font-size: 17px;
    font-weight: bold;
    opacity: 0.8;
    margin-top: 12px;
}

.content {
    margin-top: 3%;
}

/************************* FOOTER BACKGROUND *************************/

#footer-cover {
    height: 75%;
    background: url(Images/app2.jpeg) no-repeat;
    background-size: cover;
    background-position: center;
    text-align: left;
    display: flex;
    align-items: center;
}

#footer-cover h1 {
    color: #fff;
    font-size: 47px;
    font-weight: bold;
}

#footer-cover p {
    font-size: 17px;
    color: #000;
    max-width: 30%;
}

#footer-cover img {
    height: 50px;
}

#join-us {
    width: 30%;
}

/************************* HOME PAGE SECTION A *************************/
.middle {
    padding: 2.5rem 2.5rem 5rem 2.5rem;
    border-top: 5px solid #FDB833;
}

.middle .container {
    margin-top: 2%;
}

.middle h1 {
    font-weight: bold;
    font-size: 32px;
    color: #2E4057;
    margin: 0;
    text-align: center;
}

.middle img {
    padding: 1rem;
    height: 350px;
    max-width: 550px;
}

#css-description {
    margin-top: 3%;
}

.middle button {
    background: #C95D63;
    width: 50%;
    color: #fff;
}

#wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}


.middle p {
    margin: 20px 0 0;
    padding: 0;
    font-size: 1em;
    text-align: center;
}

#subscribe-form {
    margin-top: 5%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#subscribe-form h1 {
    font-size: 32px;
}

#subscribe-form p {
    font-size: 20px;
}

.subscribe input {
    width: 100%;
    padding: 10px 0;
}

.subscribe-button {
    background: #C95D63;
    color: #fff;
    width: 60%;
    padding: 10px 0;
    cursor: pointer;
}

/************************* MEDIA QUERIES FOR HOME PAGE *************************/
/*
@media screen and (max-width: 990px) {
    #footer-cover h1 {
        font-size: 32px;
    }

    #footer-cover p {
        max-width: 100%;
    }

    #subscribe-form h1 {
        font-size: 27px;
    }

    #subscribe-form p {
        font-size: 16px;
    }

    .subscribe-button {
        width: 100%;
        margin-top: 6px;
    }

    .welcome-text {
        font-size: 55px;
    }

}
*/

/*
@media screen and (max-width: 769px) {
    #join-us {
        width: 100%;
        margin-top: 5px;
    }

    .grey-background .content {
        margin-top: 10px;
    }

    .grey-background .content .sub-text {
        font-size: 15px;
    }
}
*/

@media screen and (max-width: 460px) {
    .contact-wrapper {
        margin: 25px auto 0;
    }

    .form {
        font-size: 15px;
    }

    .top-form .inner-form {
        width: 100%;
        margin: 5px 0;
    }

    .form-btn {
        width: 100%;
        background: green;
    }
}

/*
@media screen and (max-width: 541px) {

    
    .welcome-text {
    font-size: 47px;
}
    
}
*/

/************************* FOOTER *************************/
section.footer {
    margin: 250px 0 0 0;
    padding: 25px 0;
    position: relative;
    background: #2F2D2E;
    color: #000;
    border-top: 3px solid #C95D63;
    bottom: 0;
    left:0;
}

section.footer h1 {
    font-size: 22px;
    font-weight: bold;
    color: #fff;
    margin-top: 5px;
    margin-bottom: 10px;
    text-decoration: underline;
}

section.footer p {
    color: #fff;
    margin: 0;
}

section.footer a {
    color: #FBB13C;
    text-decoration: none;
}

.icon {
    color: #fff;
}

section.footer .bottom-footer h3{
    font-size: 14px;
    color: grey;
    margin: 20px 0;
}

/************************* VIDEOS *************************/
.video-container {
    display: grid;
    grid-template-columns: 1.2fr 4fr;
    grid-template-rows: 50px 500px 80px;
    color: white;
    text-align: center;
    padding: 1em;
    margin-bottom: 10%;
}

.video-header {
    color: #000;
    font-size: 22px;
    grid-column: 1 / -1;
}

.video-header i {
    color: #048BA8;
}

#sidebar ul li {
    color: #FFF;
    list-style: none;
    padding: 15px 20px;
    border-bottom: 1px solid #000;
    width: 100%;
    text-align: left;
    font-size: 15px;
}

#sidebar .fas {
    font-size: 20px;
    color: #fff;
    padding-right: 6px;
}

#sidebar nav h3 {
    background: #fff;
    font-size: 18px;
    color: #2F2D2E;
    padding: 4px;
}

/* Select children in range of 2 - 6 inclusive */
#sidebar ul li:nth-child(n+1):nth-child(-n+6):hover {
    background: rgba(230,230,230,.3);
}

#sidebar ul li:hover{
    cursor: pointer;
    color: #fff;
}

.lecture-icon {
    font-size: 16px;
}

.previous {
    font-size: 18px;
    padding-left: 5%;
    margin: 6px;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.previous:hover{
    cursor:pointer;
}

.next {
    font-size: 18px;
    padding-right: .5%;
    margin-top: 6px;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.next:hover{
    cursor:pointer;
}

.video-menu {
    background: #496DDB;
    border-left: 1px solid #C0C0C0;
    padding-top: 2em;
    overflow-y: auto;    
}

.video {
    position: relative;
}

.video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.video-footer {
    grid-column: 1 / -1;
    background: #048BA8;
}


/************************* END OF VIDEOS *************************/




<<<<<<< HEAD

/************************* COMMENT *************************/

.comment-container{
    width:80%;
    height:auto;
    margin:auto;
    text-align: center;
}

#posted-comments{
    width:80%;
    text-align:center !important;
    margin:auto;
}

.comment{
    margin: 5% 0;
    text-align: center;
    display:block;
}

.comment *{
    vertical-align: top;
}

.comment label{
    display:block;
    text-align: left;
}

.vote{
    min-width:50px;
    min-height:50px;

    max-width:100px;
    max-height:100px;
}

.voting{
    padding:5px;
    display:inline-block !important;
    border:none;
    cursor:pointer;

}

#upvote{
    width:100px;
    height:100px;
    background-image: url("Images/thumbUp.png");
    background-size:100px 100px;
}

#downvote{
    width:100px;
    height:100px;
    background-image: url("Images/thumbDown.png");
    background-size:100px 100px;
    display:inline-block !important;

}

#add-vote *{
    vertical-align: top;
}

.comment-box{
    width:40vw;
    height:100px;
    resize: none;
    background:white !important;
    font-size:16px;
    padding:10px 15px;
    margin-left:4%;
}

#add-vote .comment-box{
    display:none;
}

#submit-comment{
    vertical-align: bottom;
    margin-top:2%;
    border-radius:5px;
    display:none;
    border:black solid 1px;
}

.more-comment{
    
}

/************************* END OF COMMENTS *************************/






/************************* CONTACT *************************/

#contact-page {
=======
/************************* CONTACT PAGE *************************/
.contact-wrapper > * {
>>>>>>> remotes/origin/MH/1.00
    margin: 0;
    padding: 0;
}

.contact-wrapper {
    width: 100%;
    max-width: 680px;
    margin: 50px auto 0;
    padding: 20px;
}

.contact-content {
    text-align: center;
    margin: 0;
    padding: 0;
}

.contact-content p {
    font-size: 18px;
    padding: 0;
    margin-top: -10px;
    opacity: 0.8;
}

#contact-bottom {
    margin-top: -8px;
    width: 65%;
    border: 1px solid #C95D63;
}

.form {
    font-size: 13px;
    width: 100%;
    margin: 15px 0;
}

.top-form, .middle-form, .bottom-form {
    width: 100%;
    min-height: 65px;
    margin: 10px 0;
    overflow: hidden;
}

.form input[type="text"],
.form input[type="email"],
.form textarea {
    padding: 15px 5px;
    border-color: black;
    width: 100%;
    transition: all 0.2s ease;
    outline: none;
}

.form input[type="text"]:focus,
.form input[type="email"]:focus,
.form textarea:focus {
    border-color: red;
}

.top-form .inner-form {
    width: 29.9%;
    float: left;
    margin-right: 5%;
}

.top-form .inner-form:last-child {
    margin-right: 0;
}

.middle-form {
    clear: both;
}

.bottom-form textarea {
    height: 220px;
    width: 100%;
    padding: 10px 0;
}

.form-btn {
    background: #C95D63;
    color: #fff;
    width: 200px;
    padding: 10px 0;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
}

::-webkit-input-placeholder {
    font-size: 11px;
    text-transform: uppercase;
}

::-moz-input-placeholder {
    font-size: 11px;
    text-transform: uppercase;
}

::-ms-input-placeholder {
    font-size: 11px;
    text-transform: uppercase;
}

/************************* END OF CONTACT *************************/





/************************* LOGIN/SIGNUP *************************/
.container-form {
    max-width: 550px;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5em;
    margin-bottom: 10%;
    margin-top: 2%;
}

.header {
    text-align: center;
    color: #fff;
    font-size: 17px;
    text-transform: uppercase;
    background: #496DDB;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.wrapper >* {
    padding: 1.3rem;
}

.wrapper {
    border-radius:16px;
    border: 1px black solid;
    box-shadow: 0 0 20px rgba(72,94,116,0.7);
}

.contact {
    background: #fff;
}

.contact form {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 15px;
}

.contact form label {
    display: block;
    font-size: 15px;
    font-weight: bold;
}

.contact form p {
    margin: 0;
}

.contact form input {
    background: #ecf1f1;
    border-radius: 6px;
    border: none;
    font-size: 15px;
    opacity: .5;
}

.contact form input:focus {
    background: #fff;
    transition: 1s;
    outline-color: #496DDB;
    opacity: 1;
}

.contact form .privacy {
    text-align: center;
    font-size: 13px;
}

.contact form .full {
    text-align: center;
}

.contact form .full a {
    font-size: 13px;
    color: #000080;
}

.contact form .privacy a {
    color: #000;
    font-weight: bold;
}

.contact form input {
    width: 100%;
    padding: .5em;
}

.contact form button {
    width: 100%;
    height: 35px;
    font-size: 15px;
    background: #496DDB;
    color: #fff;
    border: 0;
    text-transform: uppercase;
}

#signin-footer {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background: #496DDB;
    color: #fff;
    text-align: center;
}

#signin-footer a {
    color: #000;
    font-weight: bold;
    text-decoration: none;
}

.error{
    font-weight:bold;
    color:red;
}

.success{
    font-weight:bold;
    color:green;
}

/************************* END OF LOGIN/SIGNUP *************************/




/************************* CHECKOUT *************************/

.grid {
    display: grid;
    grid-template-columns: 50% 49%;
    grid-column-gap: 1em;
    width: 100%;
    padding: 2em;
}

.grid > div {
    padding: .5em;
}


.bundle-info .cart{
    padding: .7em;
}

.bundle-info items {
    padding-left: 15px;
}

.bundle-info .cart h5 {
    font-size: 18px;
}

#total-cost {    
    float: right;
}

.billing-info form{
    display: grid;
    padding: 1em;
    grid-gap: 1em;
}

.billing-info form input {
    font-size: 12px;
    padding: 8px;
    width: 100%;
}

.billing-info button {
    background: #cb2027;
    color: #fff;
    margin-left: 16px;
    width: 120px;
}

.grid img {
    height: 50px;
    width: 80px;
}

/************************* END OF CHECKOUT *************************/



/************************* ACCOUNT PAGE *************************/

.heading {
    padding-left: 3%;
    font-size: 25px;
    color: #0D4F8B;
}

.account-profile {
    color: #000;
    padding: 3em;
}

.account-profile input {
    width: 300px;
    padding-left: 4px;
}

.change-info {
    padding: 2em;
}

.change-info label {
    font-size: 18px;
    padding-left: 1.3em;
}

.change-info button {
    width: 135px;
    background: #0D4F8B;
    color: #fff;
}

#save-edits {
    width: 150px !important;
    height: 50px;
}


/************************* END OF ACCOUNT PAGE *************************/




/************************* MODAL ACCOUNT FORMS FOR VIDEOS *************************/
#unavailable-message h5 {
    margin: 0 auto;
    font-size: 20px;
}

.video-login p {
    font-size: 14px;
}

.video-login button {
    margin: 0 auto;
    font-size: 13px;
    opacity: 0.8;
    margin-bottom: 16px;
}

.video-login button:hover {
    transition: .7s;
    opacity: 1;
    cursor: pointer;
}

.modal-open {
    padding-right: 0px !important;
}

/************************* END OF MODAL ACCOUNT FORMS FOR VIDEOS *************************/